@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap");
@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

/* Add your custom styles here, including styles declared in the base layer to give Tailwind v4 theme access to them */
@theme inline {
  --color-primary: var(--primary);
  --color-grayish: #9da3ac;
  --color-tealish: #0eb094;
  --color-primary-bluegreen: var(--primary-bluegreen);
  --color-gray-green: var(--gray-green);
  --color-primary-text: var(--primary-text);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --font-bricolage: "Bricolage Grotesque", sans-serif;
}

@layer base {
  /* Light Mode Colors */
  :root {
    --primary: #f7f7f7;
    --primary-text: #1e1e1e;
    --primary-bluegreen: #51a8f0;
    --gray-green: #f4f6fa;
    --radius: 0.625rem;
    --background: #ffffff;
    --foreground: #1e1e1e;
    --card: #ffffff;
    --card-foreground: #1e1e1e;
    --popover: #ffffff;
    --popover-foreground: #1e1e1e;
    --primary-foreground: #f7f7f7;
    --secondary: #e5e7eb;
    --secondary-foreground: #111827;
    --muted: #f3f4f6;
    --muted-foreground: #6b7280;
    --accent: #e5e7eb;
    --accent-foreground: #111827;
    --destructive: #ff8059;
    --border: #d1d5db;
    --input: #d1d5db;
    --ring: #6366f1;
    --chart-1: #10b981;
    --chart-2: #3b82f6;
    --chart-3: #6366f1;
    --chart-4: #f59e0b;
    --chart-5: #ef4444;
    --sidebar: #f9fafb;
    --sidebar-foreground: #9da3ac;
    --sidebar-primary: #1e1e1e;
    --sidebar-primary-foreground: #f9fafb;
    --sidebar-accent: #e5e7eb;
    --sidebar-accent-foreground: #1e1e1e;
    --sidebar-border: #d9d9d9;
    --sidebar-ring: #6366f1;
    color: var(--primary-text);
    transition: color 0.2s ease-in 200ms;
  }

  /* Dark Mode Colors */
  .dark {
    --primary: #001413;
    --primary-text: #f4f6fa;
    --primary-bluegreen: #0eb094;
    --gray-green: #022d28;
    --background: #0f172a;
    --foreground: #f4f6fa;
    --card: #001413;
    --card-foreground: #f4f6fa;
    --popover: #1e293b;
    --popover-foreground: #f4f6fa;
    --primary-foreground: #1e293b;
    --secondary: #334155;
    --secondary-foreground: #f4f6fa;
    --muted: #475569;
    --muted-foreground: #cbd5e1;
    --accent: #334155;
    --accent-foreground: #f4f6fa;
    --border: #475569;
    --input: #475569;
    --ring: #6366f1;
    --chart-1: #8b5cf6;
    --chart-2: #06b6d4;
    --chart-3: #facc15;
    --chart-4: #f97316;
    --chart-5: #f43f5e;
    --sidebar: #1e293b;
    --sidebar-foreground: #5f6c6b;
    --sidebar-primary: #0eb094;
    --sidebar-primary-foreground: #f4f6fa;
    --sidebar-accent: #334155;
    --sidebar-accent-foreground: #f4f6fa;
    --sidebar-border: #314140;
    --sidebar-ring: #6366f1;
  }

  * {
    @apply border-border outline-ring/50 font-bricolage;
  }

  body {
    @apply bg-primary text-primary-text;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
}

.discoverSwiper .swiper-wrapper {
  margin-bottom: 50px;
}
.discoverSwiper .swiper-pagination-bullet-active {
  background: #2d2d2d;
  width: 30px;
  border-radius: 8px;
}
@media (prefers-color-scheme: dark) {
  .discoverSwiper .swiper-pagination-bullet-active {
    background: #0eb094;
  }
  .discoverSwiper .swiper-pagination-bullet {
    background: #022d28;
  }
}
